@media(min-width: 768px)
{
    .topmenu
    {
        display: flex;
        flex-direction: row;
        justify-content: center;
    }
}

@media(max-width: 768px)
{
    .box
    {
        display: flex;
        align-items: center;
        flex-direction: column;
    }
}


body
{
    background-color: white;
    color: black;
    font-family: 'Open Sans', sans-serif;
    font-size: 17px;
}

a
{
    text-decoration: none;
}

.logo
{
    display: inline-block;
    border-bottom: none;
}

.logo h1
{
    color: black;
    padding-left: 15px;
    text-transform: uppercase;
    margin-bottom: 0px;
}

.logo h1
{
    font-size: 55px;
    font-weight: 700;
    letter-spacing: 5px;
}

.box h3
{
    font-size: 25px;
}

.navi
{
    padding: 10px;
    background-color: white;
    text-align: center;
    margin-top: 25px;
    border-bottom: 1px solid black;
    margin-bottom: 65px;
}

ul
{
    padding: 0px;
    margin: 0px;
    list-style-type: none;
    font-size: 23px;
    height: 35px;
    line-height: 200%;
    display: inline-block;
    height: 47px;
}

ul a
{
    color: black;
    text-decoration: none;
}

ul > li
{
    width: 170px;
    height: 50px;
}

ul > li:hover
{
    background-color: darkgrey;
}

ul > li > ul
{
    list-style-type: none;
    padding: 0px;
    margin: 0px;
    height: 40px;
    display: none;
}

ul > li:hover > ul
{
    display: flex;
    flex-direction: column;
}

ul > li > ul > li
{
    background-color: lightgrey;
    height: auto;
    width: auto;
    z-index: 100;
}

ul > li > ul > li:hover
{
    background-color: darkgrey;
}


ul > li > ul > li:hover > a
{
    color: black;
}

.box
{
    display: flex;
    justify-content: space-between;
}

.aboutapp
{
    width: 70%;
    min-height: 360px;
    padding-left: 15px;
    padding-right: 10px;
    text-align: left;
}

.logoPic
{
    width: 30%;
    display: flex;
    align-items: center;
    justify-content: center;
}

.login
{
    margin: 20px auto;
    width: 300px;
    padding: 30px 25px;
    background: white;
    border: 1px solid #c4c4c4;
}

h1.login-title
{
    margin: -28px -25px 25px;
    padding: 15px 25px;
    line-height: 30px;
    font-size: 25px;
    font-weight: 300;
    color: #ADADAD;
    text-align:center;
    background: #f7f7f7;

}

.clr
{
    clear: both;
}

.login-input
{
    width: 285px;
    height: 50px;
    margin-bottom: 25px;
    padding-left:10px;
    font-size: 15px;
    background: #fff;
    border: none;
    border-bottom: 1px solid #ccc;
    border-radius: 4px;
}

.login-input:focus
{
    border-color:#6e8095;
    outline: none;
}

.loginButton
{
    width: 100%;
    height: 50px;
    padding: 0;
    font-size: 20px;
    color: #fff;
    text-align: center;
    background: #6b96db;
    border: 0;
    border-radius: 5px;
    cursor: pointer;
    outline:0;
}

.login-register
{
    text-align:center;
    margin-bottom:0px;
}

.login-register a
{
    color:#666;
    text-decoration:none;
    font-size:13px;
}

.eventDetails
{
    margin-left: 10px;
    height: auto;
    margin-bottom: 5px;
    box-sizing: border-box;
}

.eventDetails:nth-child(odd)
{
    background-color: #ebedf4;
}

.eventDetails h2
{
    margin: 5px;
    margin-top: 15px;
    letter-spacing: 2px;
}

.eventName
{
    letter-spacing: 1px;
    width: 100%;
    padding: 10px;
    box-sizing: border-box;
}

.eventInfo
{
    padding: 10px;
    width: 40%;
    float: left;
    box-sizing: border-box;
}

.eventInfo label
{
    font-weight: bold;
}

.eventDescription
{
    width: 40%;
    float: left;
    box-sizing: border-box;
}

.clear
{
    clear: both;
}

.deleteEvent
{
    background-color: #91acd8;
    margin-left: 10px;
    margin-bottom: 5px;
}

#addEventForm label
{
    color: darkgrey;
}

#addEventForm
{
    font-family: 'Open Sans Condensed', arial, sans;
    width: 500px;
    padding: 30px;
    background: #FFFFFF;
    margin: 50px auto;
    box-shadow: 0px 0px 15px rgba(0, 0, 0, 0.22);
    -moz-box-shadow: 0px 0px 15px rgba(0, 0, 0, 0.22);
    -webkit-box-shadow:  0px 0px 15px rgba(0, 0, 0, 0.22);
}

#addEventForm input[type="text"],
#addEventForm input[type="date"],
#addEventForm input[type="datetime"],
#addEventForm input[type="email"],
#addEventForm input[type="number"],
#addEventForm input[type="search"],
#addEventForm input[type="time"],
#addEventForm input[type="url"],
#addEventForm input[type="password"],
#addEventForm textarea,
#addEventForm select
{
    box-sizing: border-box;
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    /*outline: none;*/
    display: block;
    width: 100%;
    padding: 7px;
    border: none;
    border-bottom: 1px solid #ddd;
    background: transparent;
    margin-bottom: 10px;
    font: 16px Arial, Helvetica, sans-serif;
    height: 45px;
}

#addEventForm textarea
{
    resize:none;
    overflow: hidden;
}

.eventButton
{
    -moz-box-shadow: inset 0px 1px 0px 0px #45D6D6;
    -webkit-box-shadow: inset 0px 1px 0px 0px #45D6D6;
    box-shadow: inset 0px 1px 0px 0px #45D6D6;
    background-color: #2CBBBB;
    border: 1px solid #27A0A0;
    display: inline-block;
    cursor: pointer;
    color: #FFFFFF;
    font-family: 'Open Sans Condensed', sans-serif;
    font-size: 14px;
    padding: 8px 18px;
    text-decoration: none;
    margin-right: 10px;
    float: left;
}

.eventDetails .eventButton
{
    margin-left: 10px;
    margin-bottom: 10px;
}

#addEventSubmitButton
{
    visibility: hidden;
}

.eventButton:hover
{
    background:linear-gradient(to bottom, #34CACA 5%, #30C9C9 100%);
    background-color:#34CACA;
}

#wrongDate
{
    display: none;
    color: red;
}

.openActivityPopup
{
    background: none;
    border: none;
    color: #87a3d1;
    cursor: pointer;
    bottom: 23px;
    right: 28px;
}

#activityPopup
{
    display:none;
    position: fixed;
    z-index: 1;
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
    overflow: auto;
    background-color: rgba(0,0,0,0.4);
}

.activityPopupContent
{
    background-color: white;
    display: inline-block;
    position: fixed;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    width: 220px;
    height: 230px;
    margin: auto;
    padding-top: 60px;
    padding-left: 10px;
    padding-right: 10px;
}

.activityPopupContent input[type="text"]
{
    border: none;
    border-bottom: 1px solid grey;
    width: 210px;
    min-height: 30px;
}

.activityPopupContent button
{
    margin-left: 40px;
    color: white;
    min-width: 50px;
    min-height: 30px;
    font-weight: bold;
    border: none;
}

.okButton
{
    background-color: #4CAF50;
}

.cancelButton
{
    background-color: red;
}

.animate
{
    animation: zoom 0.6s
}

@keyframes zoom
{
    from {transform: scale(0)}
    to {transform: scale(1)}
}


#passwordRegex
{
    display:none;
    position: relative;
    padding-bottom: 20px;
}

#changePasswordRegex
{
    color: red;
    display:none;
    position: relative;
    padding-bottom: 20px;
}

#matchingPassword
{
    display:none;
    color: red;
    background: white;
    position: relative;
    padding: 20px;
    margin-top: 10px;
}

#takenLogin
{
    color: red;
    background: white;
    position: relative;
    padding: 20px;
    margin-top: 10px;
}

#wrongCredentials
{
    color: red;
    position: relative;
    padding: 20px;
    margin-bottom: 10px;
}


#rating span
{
    cursor: pointer;
    font-size: 50px;
    padding: 0 10px;
    /*color: #2CBBBB;*/
    opacity: .5;
    transition: all 150ms;
    display: inline-block;
    /*transform: rotateX(45deg);*/
    transform-origin: center bottom;
}

#notHappened
{
    display: none;
    color: red;
}

#rating span.hover
{
    /*color: #ff0;*/
    opacity: 1;
    /*transform: rotateX(0deg);*/
    /*text-shadow: 0 0 30px #ffc;*/
}

.commentSection
{
    margin-top: 50px;
    /*background-color: red;*/
}

.addCommentForm
{
    width: 100%;
    margin: auto;
    /*background-color: yellow;*/
    box-sizing: border-box;
    padding: 0;
    margin-bottom: 25px;
}

.commentDetail
{
    float: left;
    margin-right: 10px;
}

.comment span
{
    margin-right: 10px;
    color: grey;
    font-size: 13px;
}

.addCommentText
{
    float: left;
    height: 25px;
    width: 90%;
    border: none;
    border-bottom: #ADADAD 1px solid;
    resize: none;
    box-sizing: border-box;

}

.commentContent
{
    padding-left: 5px;
}

.comment
{
    border-bottom: #ADADAD 1px solid;
    margin-bottom: 30px;
}

.addCommentForm .eventButton
{
    margin: 0;
    width: 10%;
    box-sizing: border-box;
}

.commentContent
{
    height: 10px;
}


footer
{
    margin-left: auto;
    margin-right: auto;
    text-align: center;
    padding: 40px;
}
#mapid { height: 200px; width:30%;}