<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org" lang="pl-PL">

<head th:replace="template :: head">

    <link rel="stylesheet" href="https://unpkg.com/leaflet@1.2.0/dist/leaflet.css" />
    <link rel="stylesheet" href="http://cdn.leafletjs.com/leaflet/v0.7.7/leaflet.css" />
    <link rel="stylesheet" href="leaflet-routing-machine.css" />
    <link rel="stylesheet" href="https://unpkg.com/leaflet@1.4.0/dist/leaflet.css"
          integrity="sha512-puBpdR0798OZvTTbP4A8Ix/l+A4dHDD0DGqYW6RQ+9jxkRFclaxxQb/SJAWZfWAkuyeQUytO7+7N4QKrDh+drA=="
          crossorigin=""/>
    <!-- Make sure you put this AFTER Leaflet's CSS -->
    <script src="https://unpkg.com/leaflet@1.4.0/dist/leaflet.js"
            integrity="sha512-QVftwZFqvtRNi0ZyCtsznlKSWOStnDORoefr1enyq5mVL4tmKB3S/EnC3rRJcxCPavG10IcrVGSmPh6Qw5lwrg=="
            crossorigin=""></script>
</head>

<body>

    <header th:replace="template :: header"></header>

    <form id="addEventForm" th:object="${eventDto}" method="post" enctype="utf8" onsubmit="return addEventValidation()">
        <input type="text" autocomplete="off" placeholder="Nazwa wydarzenia" th:field="*{name}" th:required="required"/><br/>
        <input type="text" autocomplete="off" placeholder="Nazwa miejsca" th:field="*{placeName}" th:required="required"/><br/>
        <label>Współrzędne miejsca</label>
        <input type="text" id = "latitude" th:field="*{longitude}"/>
        <input type="text" id = "longitude" th:field="*{latitude}"/>
        <label>Maksymalna liczba uczestników</label>
        <input type="number" min="2" max="10000" placeholder="Maksymalna liczba uczestników" th:field="*{maxJoin}"/><br/>
        <textarea autocomplete="off" placeholder="Opis" onkeyup="adjustTextarea(this)" th:field="*{description}"></textarea><br/>
        <label>Data</label>
        <input id="date" type="date" th:field="*{date}" th:required="required"/><br/>
        <label>Czas</label>
        <input id="time" type="time" th:field="*{time}" th:required="required"/><br/>
        <p id="wrongDate"><small>Proszę podać nadchodzącą datę</small></p><br/>
        <label>Kategoria</label>
        <select th:field="*{activityId}">
            <option
                    th:each="act: ${activities}"
                    th:value="${act.getId()}"
                    th:text="${act.getName()}" >
            </option>
        </select>

        <button class="openActivityPopup" type="button" onclick="openActivityPopup()">Dodaj kategorię</button><br/><br/>

        <div id="activityPopup">
            <div class="activityPopupContent animate">
                <input id="activityName" placeholder="Nazwa" autocomplete="off" type="text" th:field="*{activityName}"/>
                <br/><br/>
                <input type="checkbox" value="1" th:field="*{team}"/> Aktywność zespołowa<br/><br/>
                <button type="button" class="okButton" onclick="closeActivityPopup()">OK</button>
                <button type="button" class="cancelButton" onclick="resetActivityPopup()">Anuluj</button>
            </div>
        </div>

        <label>Poziom zaawansowania</label>
        <select th:field="*{advancement}">
            <option th:value="beginner" th:text="Początkujący"></option>
            <option th:value="intermediate" th:text="Sredni"></option>
            <option th:value="advanced" th:text="Zaawansowany"></option>
        </select>

        <input class="eventButton" type="submit" value="Dodaj"/>
        <div class="clr"></div>

    </form>


    <div id="mapid"></div>
    <script src="http://cdn.leafletjs.com/leaflet/v0.7.7/leaflet.js"></script>

    <script>

        var mymap = L.map('mapid').setView([51.1052862455, 17.055921443], 15);

        L.tileLayer('http://{s}.tile.osm.org/{z}/{x}/{y}.png', {
            attribution: '&copy; <a href="http://osm.org/copyright">OpenStreetMap</a> contributors'
        }).addTo(mymap);

        var markers = [];
        function onMapClick(e) {
            v1 = e.latlng.lat;
            v2 = e.latlng.lng;
            document.getElementById("latitude").value = v1;
            document.getElementById("longitude").value = v2;
            markers.push(L.marker([v1, v2]).addTo(mymap));
            if((markers.length > 1) ) {
                mymap.removeLayer(markers[markers.length - 2])
            }
        }
        mymap.on('click', onMapClick);

    </script>

    <footer th:replace="template :: footer"></footer>

    <script th:src="@{/js/script.js}"></script>


</body>

</html>