<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org" lang="pl-PL">

<head th:replace="template :: head"></head>

<body>

    <header th:replace="template :: header"></header>

    <div class="registrationContainer">
    <form id="registrationForm" class="login" th:object="${userDto}" onsubmit = "return validateChangedPassword()" method="post" enctype="utf8">
        <h1 class="login-title">Zmiana hasła</h1>
        <input th:field="*{login}" type="text" id="login" autocomplete="off" class="login-input" placeholder="login" th:required="required" autofocus=""/>
        <input th:field="*{password}" type="password" id="oldPassword" placeholder="stare hasło" class="login-input" autocomplete="off" th:required="required"/>
        <input type="password" id="password" name="newPassword" placeholder="nowe hasło" class="login-input" autocomplete="off" th:required="required"/>
        <input th:field="*{confirmPassword}" type="password" id="confirmPassword" autocomplete="off" class="login-input" placeholder="powtórz nowe hasło" th:required="required"/>


        <button class="loginButton" type="submit">Zmień hasło</button>


        <h3 id="matchingPassword">Błędnie powtórzone hasło</h3>
        <h3 id="changePasswordRegex">Błędny format hasła</h3>

        <h3 id="wrongCredentials" th:if="${session.wrongCredentials != null}">Błędny login lub hasło</h3>

        <script>
            setTimeout(function(){
                document.getElementById("wrongCredentials").style.display = "none";
            }, 2500);
        </script>

    </form>
    </div>
    <footer th:replace="template :: footer"></footer>

    <script th:src="@{/js/changePassword.js}"></script>

</body>
</html>