<!DOCTYPE html>


<html xmlns:th="http://www.thymeleaf.org" lang="pl-PL">

<head th:replace="template :: head">
    <link rel="stylesheet" href="http://cdn.leafletjs.com/leaflet/v0.7.7/leaflet.css" />


</head>

<body>

<header th:replace="template :: header"></header>

<div class="loginContainer">

<form class="login" id="loginForm" action="/login" method="post">
    <h1 class="login-title">Logowanie</h1>
    <input type="text" autocomplete="off" id="login" class="login-input" name="login" placeholder="login" th:required="required"/>
    <input type="password" autocomplete="off" id="password" class="login-input" name="password" placeholder="hasło" th:required="required"/>
    <div id="wrongCredentials" th:if="${session.wrongCredentials != null}"><small>Błędny login lub hasło</small>
    <script>
        setTimeout(function(){
                document.getElementById("wrongCredentials").style.display = "none";
            }, 2500);
    </script>
    </div>
    <input class="loginButton" type="submit" value="Zaloguj"></input>
    <p class="login-register"><a th:href="@{/registration}">Nie masz konta?<br/>Zarejestruj się</a></p>

</form>

</div>

<footer th:replace="template :: footer"></footer>

<script th:src="@{/js/login.js}"></script>

</body>
</html>