<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org" lang="pl-PL">

<head th:replace="template :: head"></head>

<body>

<head th:replace="template :: header"></head>

<main>

    <div th:each="event: ${participateEvents}" class="eventDetails">
        <h2 class="eventName" th:text="${event.getName()}"></h2>
        <div class="eventInfo">
            <p class="eventPoint"><label>Miejsce: </label><span th:text="${event.getPlaceName()}"></span></p>
            <p class="eventPoint"><label>Data: </label><span class="dateFormat" th:text="${event.getDate()}"></span></p>
            <p class="eventPoint"><label>Kategoria: </label><span th:text="${event.getActivity().getName()}"></span></p>
            <p class="eventPoint"><label>Liczba zapisanych: </label><span th:text="${event.getJoinNo()}"></span>/<span th:text="${event.getMaxJoin()}"></span></p>
        </div>
        <div class="eventDescription" th:text="${event.getDescription()}"></div>
        <div class="clear"></div>
        <form action="/details" method="post">
            <button type="submit" name="eventDetailsId" class="eventButton" th:value="${event.getId()}">Szczegóły</button>
        </form>
        <form action="/unenroll" method="post">
            <input class="deleteEventInput" type="hidden" name="deleteEvent" th:value="${event.getId()}"/>
            <button type="submit" name="eventDetailsId" class="eventButton" th:value="${event.getId()}">Wypisz się</button>
        </form>
        <div class="clr"></div>
    </div>


</main>

<footer th:replace="template :: footer"></footer>
<script th:src="@{/js/dateFormat.js}"></script>
<script>dateFormat()</script>

</body>
</html>
