<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org" lang="pl-PL">

<head th:replace="template :: head"></head>

<body>

    <header th:replace="template :: header"></header>

    <form th:object="${userDto}" method="post" enctype="utf8">
        <div>
            <label>Login</label>
            <input th:field="*{login}"/>
        </div>
        <div>
            <label>Hasło</label>
            <input type="password" th:field="*{password}"/>
        </div>
        <div>
            <label>Powtwierdź hasło</label>
            <input type="password" th:field="*{confirmPassword}"/>
        </div>

        <button type="submit">Zarejestruj</button>

    </form>

    <footer th:replace="template :: footer"></footer>

</body>

</html>