<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org" lang="pl-PL">

<head th:replace="template :: head"></head>

<body>

    <header th:replace="template :: header"></header>

    <form class="login" th:object="${userDto}" method="post" enctype="utf8">
        <h1 class="login-title">Rejestracja</h1>
        <input th:field="*{login}" type="text" class="login-input" placeholder="login" autofocus=""/>
        <input th:field="*{password}" type="password" class="login-input" placeholder="hasło"/>
        <input th:field="*{confirmPassword}" type="password" class="login-input" placeholder="potwierdź hasło"/>
        <input type="submit" value="Zarejestruj" class="login-button"/>
        <p class="login-register"><a th:href="@{/login}">Masz konto?<br/>Zaloguj się</a></p>
    </form>

    <footer th:replace="template :: footer"></footer>

</body>

</html>