<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org" lang="pl-PL">

<head th:replace="template :: head"></head>

<body>

<head th:replace="template :: header"></head>

<main>

    <div class="searchContainer">
    <form action="/search" class="searchForm" method="post">
        <input type="text" class="textSearch" pattern=".{3,}" autocomplete="off" placeholder="Wyszukaj wydarzenia po nazwie..." name="query"/>
        <input class="eventButton" type="submit" value="Szukaj"/>
        <div class="clr"></div>
    </form>

    <div th:each="event: ${events}" class="eventDetails">
        <h3 class="eventName" th:text="${event.getName()}"></h3>
        <div class="eventInfo">
            <p class="eventPoint"><label>Miejsce: </label><span th:text="${event.getPlaceName()}"></span></p>
            <p class="eventPoint"><label>Data: </label><span class="dateFormat" th:text="${event.getDate()}"></span></p>
            <p class="eventPoint"><label>Kategoria: </label><span th:text="${event.getActivity().getName()}"></span></p>
            <p class="eventPoint"><label>Liczba zapisanych: </label><span th:text="${event.getJoinNo()}"></span>/<span th:text="${event.getMaxJoin()}"></span></p>
        </div>
        <div class="eventDescription" th:text="${event.getDescription()}"></div>
        <div class="clear"></div>
        <form th:if="${session.user != null}" action="/join" method="post">
            <button th:if="${event.getMaxJoin() &gt; event.getJoinNo()}" type="submit" name="eventId" class="eventButton" th:value="${event.getId()}">Dołącz</button>
        </form>
        <div class="clr"></div>
    </div>
    </div>
</main>

<footer th:replace="template :: footer"></footer>
<script th:src="@{/js/dateFormat.js}"></script>
<script>dateFormat()</script>

</body>
</html>
