<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">

<head th:fragment="head">

    <title>Move Up!</title>

    <meta charset="utf-8"/>
    <meta name="description" content="Portal zrzeszający sportowców"/>
    <meta name="keywords" content="sport, aktywność"/>
    <meta http-equiv="X-Ua-Compatible" content="IE=edge"/>
    <meta name="viewpoint" content="width=device-width, initial-scale=1.0"/>

    <link th:href="@{/css/style.css}" rel="stylesheet"/>
    <link rel="stylesheet" href="http://cdn.leafletjs.com/leaflet/v0.7.7/leaflet.css" />

</head>

<header th:fragment="header">

    <div class="logo">
        <a th:href="@{/}">
            <h1>Move Up!</h1></a>
    </div>

    <nav class="navi">
        <ul class="topmenu">
            <li><a th:href="@{/}">Strona główna</a></li>
            <li><a th:href="@{/search}">Szukaj</a></li>
            <li th:if="${session.user == null}">
                <a th:href="@{/login}">Zaloguj się</a>
            </li>
            <li th:if="${session.user != null}">
                Konto
                <ul>
                    <li><a th:href="@{/addevent}">Utwórz wydarzenie</a></li>
                    <li><a th:href="@{/participate}">Moje wydarzenia</a></li>
                    <li><a th:href="@{/created}">Stworzone wydarzenia</a></li>
                    <li><a th:href="@{/changePassword}">Zmień hasło</a></li>
                    <li><a th:href="@{/logout}">Wyloguj się</a></li>
                </ul>
            </li>
        </ul>
    </nav>

    <div class="clr"></div>

</header>


<footer th:fragment="footer">
    Move up! &copy; 2019
</footer>

</html>